body{
    text-align: center;
    font-family: sans-serif;
    color: rgb(202, 167, 120);
    background-color: wheat;
}
img{
    width: 150px;
}
table{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px;
    font-size: x-large;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    
} 
th{
    border: 8px solid burlywood;
     border-collapse: collapse;
     color: rgb(202, 167, 120);
     padding: 10px;
}