
body{
    background-color: #CEF78C;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
table{
    margin-right: auto;
    margin-left: auto;
    border: 2;
}